<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}

<body>
    <!-- navigation header -->
    {{ partial "header.html" .}}

    <!-- section list -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ partial "products.html" .}}
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
        <!-- {{ partial "home.html" .}} -->
        
        <!-- {{ partial "about.html" .}} -->
        <!-- {{ partial "scenes.html" .}} -->
        <!-- {{ partial "news.html" .}}
        {{ partial "contact.html" .}} -->
    </main>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}

</body>

</html>